{
    "bracketSpacing": true,
    "printWidth": 80,
    "tabWidth": 4,
    "semi": false,
    "singleQuote": true,
    "trailingComma": "all",
    "singleAttributePerLine": true,
    "arrowParens": "always"
}
