.chart {
    background-color: #fff;

    .apexcharts-xaxistooltip.apexcharts-theme-light {
        left: 0;
        top: 0;
    }

    .apexcharts-tooltip.apexcharts-theme-light {
        border-radius: 0;
        font-weight: 500;
        padding: 0;
        border: none;

        ul {
            list-style: none;
            border: 1px solid #000;
            padding: .5rem;
            margin: 0;
        }

        li {
            display: flex;
            align-items: center;
            justify-content: flex-start;
            margin-top: .5rem;

            &:first-child {
                margin-top: 0;
            }
        }

        .marker {
            display: inline-block;
            width: .625rem;
            height: .625rem;
            margin-right: .5rem;
            background-color: currentColor;
            border: 1px solid #000;
        }

        .value {
            font-weight: 700;
            margin-left: .25rem;
        }
    }

    .apexcharts-xaxistooltip,
    .apexcharts-yaxistooltip {
        background-color: #000;
        color: #fff;
        border-radius: 0;
        border: 1px solid #fff;
    }

    .apexcharts-xaxistooltip {
        &:after {
            border-bottom-color: #000;
        }

        &:before {
            border-bottom-color: #fff;
        }
    }

    .apexcharts-yaxistooltip {
        &:after {
            border-left-color: #000;
        }

        &:before {
            border-left-color: #fff;
        }
    }

    .vue-apexcharts {
        &.stacked {

            // thin stroke
            .apexcharts-bar-area {
                stroke-width: 1;
                stroke-dasharray: 0;
            }
        }

        .apexcharts-bar-area {
            &.forecast {
                stroke-width: .5;
                stroke-dasharray: 2 3;
                stroke: #000;
                stroke-opacity: 1;
            }
        }

        .apexcharts-line,
        .apexcharts-area,
        .apexcharts-bar-area {
            stroke-width: 1.5;
        }
    }

}