$box-radius: 0;
$background-color: #fff;
$bar-color: #bebebe; //var(--k-color-primary-dark)

@mixin scroll {
    scrollbar-width: thin;

    &::-webkit-scrollbar {
        &:vertical {
            width: var(--scroll-bar-width);
        }

        &:horizontal {
            height: var(--scroll-bar-width);
        }
    }
}

@mixin scroll-colored {
    @include scroll;
    scrollbar-color: $bar-color $background-color;

    scrollbar-base-color: $background-color;
    scrollbar-face-color: $bar-color;
    scrollbar-3dlight-color: $bar-color;
    scrollbar-highlight-color: $bar-color;
    scrollbar-track-color: $background-color;
    scrollbar-arrow-color: $bar-color;
    scrollbar-shadow-color: $bar-color;

    &::-webkit-scrollbar {
        -webkit-appearance: none;
    }

    &::-webkit-scrollbar-track {
        background-color: $background-color;
    }

    &::-webkit-scrollbar-thumb {
        border-radius: $box-radius;
        background-color: $bar-color;
        border-left: 0px solid $background-color;
        border-right: 0px solid $background-color;
    }
}

@mixin scroll-border {
    &::-webkit-scrollbar {
        &:vertical {
            width: var(--scroll-bar-width);
        }
    }

    &::-webkit-scrollbar-thumb {
        border-left: 1px solid $background-color;
        border-right: 1px solid $background-color;
    }
}

@mixin scroll-vertical {
    @include scroll;
    overflow: auto;
    overflow-x: hidden;
}

@mixin scroll-vertical-colored {
    @include scroll-colored;
    overflow: auto;
    overflow-x: hidden;
}

@mixin scroll-horizontal {
    @include scroll;
    overflow: auto;
    overflow-y: hidden;
}

@mixin scroll-horizontal-colored {
    @include scroll-colored;
    overflow: auto;
    overflow-y: hidden;
}

@mixin hide-scrollbars {
    -ms-overflow-style: none;

    &::-webkit-scrollbar {
        -webkit-appearance: none;
        display: none;
    }
}

@mixin show-scrollbars {
    -ms-overflow-style: auto;

    &::-webkit-scrollbar {
        -webkit-appearance: auto;
        display: block;
    }
}