@use 'sass:color';
@use 'sass:map';
@import '../helpers/str-split.scss';

$colors: (
    'transparent': 'transparent',
    'current': 'currentColor',

    'background': ('base': #000,
        'text': #fff,
    ),

    'primary': ('light': #0d89ff,
        'light-text': #fff,
        'base': #0d89ff,
        'base-text': #fff,
        'dark': #0d89ff,
        'dark-text': #fff,
    ),

    'secondary': ('light': #0eb232,
        'base': #0eb232,
        'dark': #0eb232,
    ),

    // 'accent': (
    //     '300': #ffbebe,
    //     '600': #e96969,
    //     '900': #ea0000,
    // ),
    'gray': ('50': #f8fafc,
        '100': #f1f5f9,
        '200': #e2e8f0,
        '300': #cbd5e1,
        '400': #94a3b8,
        '500': #64748b,
        '600': #475569,
        '700': #334155,
        '800': #1e293b,
        '900': #0f172a,
    ),
    'states': ('info': #00f,
        'success': #0f0,
        'attention': #ff0,
        'error': #f00,
    ),

    'distribution': ('base':#eee,
        '1': #686868,
        '2':#828282,
        '3':#9D9D9D,
        '4':#CACACA,
        '5':#E8E8E8,
    ),

    'palette': ('red': ('300': #f9a3a8,
            '600': #ff506a,
            '900': #ff0035,
        ),
        'orange': ('100': #fef5d4,
            '300': #ffcf96,
            '600': #ff9b54,
            '900': #ff7614,
        ),
        'yellow': ('100': #fffce4,
            '300': #ffec96,
            '600': #fbce50,
            '900': #ffbe05,
        ),
        'lemon': ('300': #fcf6b1,
            '600': #fbe662,
            '900': #ffdc05,
        ),
        'moss': ('100': #e6fed3,
            '300': #c6f18f,
            '600': #aadc41,
            '900': #a0d50a,
        ),
        'green': ('100': #e3fef2,
            '300': #a7e3b4,
            '600': #62c882,
            '900': #20b54f,
        ),
        'cyan': ('100': #eafdff,
            '300': #75d8de,
            '600': #51b7b5,
            '900': #14a5a3,
        ),
        'blue': ('300': #87b0ff,
            '600': #4983d9,
            '900': #2b6bb5,
        ),
        'purple': ('300': #c08df5,
            '600': #ae53ce,
            '900': #9534b7,
        ),
        'pink': ('300': #ea88cf,
            '600': #e945a3,
            '900': #d90e83,
        ),
    ),

    'categories': ('event': ('information-and-exchange': #2b6bb5,
            'training-and-workshops': #20b54f,
            'projects-and-initiatives': #d90e83,
        ),
    ),
);

$palette-colors: map.keys(map.get($colors, 'palette'));

@function get-color($path) {
    $path-list: str-split($path, '.');
    @return map.get($colors, $path-list...);
}