html .MuiContainer-root {
    max-width: none;
}

html .SbAppContent-root {
    padding: 0;
}

iframe.MuiBox-root {
    height: 100vh !important;
}

html #app > .MuiContainer-root {
    padding: 1rem;
}

html .SbAppHeader-root {
    display: none;
}

html
    .SbAppContent-root
    > .MuiContainer-root
    > .MuiPaper-root
    > .MuiButtonBase-root {
    display: none;
}
